<div class="row error-row">
  <div class="column column-10 error-cell">
    <% error.tags.each do |tag| %>
      <div class="error-cell__tags">
        <span class="error-tag"><%= tag %></span>
      </div>
    <% end %>
  </div>
  <div class="column column-33 error-cell error-cell__message">
    <%= link_to error.message, error_path(error.id), class: %w[error-message] %>
  </div>

  <div class="column column-15 error-cell">
    <% if error.first_occurrence.present? %>
      <%= time_ago_in_words(error.first_occurrence) %> ago
    <% else %>
      Never
    <% end %>
  </div>

  <div class="column column-15 error-cell">
    <% if error.last_occurrence.present? %>
      <%= time_ago_in_words(error.last_occurrence) %> ago
    <% else %>
      Never
    <% end %>
  </div>

  <div class="column column-8 error-cell">
    <%= error.total_occurrences %>
  </div>

   <div class="column column-18 error-cell">
    <div class="row">
      <% if error.active? %>
        <div class="column mr-5">
        <%= display_action_button('resolve', error) %>
        </div>
        <div class="column">
          <%= display_action_button('ignore', error) %>
        </div>
      <% elsif error.ignored? %>
        <div class="column">
          <%= button_to('Reopen', reopen_path(error_group: { id: error.id }),
                      class: %w[button button-outline resolve-button],
                      data: { confirm: 'Are you sure you want to reopen this error?' }) %>
        </div>
      <% end %>
    </div>
   </div>
</div>

