<div class="row">
  <div class="column column-80">
    <div class="errors-tabs">
      <div class="errors-tab <%= 'errors-tab--active' if @dashboard.tab_active?(@dashboard.class::LAST_7_DAYS_TAB) %>">
        <%= link_to errors_path(tab: @dashboard.class::LAST_7_DAYS_TAB) do %>
          <div class="errors-tab__content">
            <div class="errors-tab__badge">
              <%= @dashboard.errors_count(@dashboard.class::LAST_7_DAYS_TAB) %>
            </div>
            <div class="errors-tab__description">
              Errors in the last 7 days
            </div>
          </div>
        <% end %>
      </div>

      <div class="errors-tab <%= 'errors-tab--active' if @dashboard.tab_active?(@dashboard.class::CURRENT_MONTH_TAB) %>">
        <%= link_to errors_path(tab: @dashboard.class::CURRENT_MONTH_TAB) do %>
          <div class="errors-tab__content">
            <div class="errors-tab__badge">
              <%= @dashboard.errors_count(@dashboard.class::CURRENT_MONTH_TAB) %>
            </div>
            <div class="errors-tab__description">
              Errors this month
            </div>
          </div>
        <% end %>
      </div>

      <div class="errors-tab <%= 'errors-tab--active' if @dashboard.tab_active?(@dashboard.class::TOTAL_ERRORS_TAB) %>">
        <%= link_to errors_path(tab: @dashboard.class::TOTAL_ERRORS_TAB) do %>
          <div class="errors-tab__content">
            <div class="errors-tab__badge">
              <%= @dashboard.errors_count(@dashboard.class::TOTAL_ERRORS_TAB) %>
            </div>
            <div class="errors-tab__description">
              Total errors
            </div>
          </div>
        <% end %>
      </div>

      <div class="errors-tab errors-tab__resolved <%= 'errors-tab--active' if @dashboard.tab_active?(@dashboard.class::RESOLVED_ERRORS_TAB) %>">
        <%= link_to errors_path(tab: @dashboard.class::RESOLVED_ERRORS_TAB) do %>
          <div class="errors-tab__content">
            <div class="errors-tab__badge">
              <%= @dashboard.errors_count(@dashboard.class::RESOLVED_ERRORS_TAB) || '-' %>
            </div>
            <div class="errors-tab__description">
              Resolved
            </div>
          </div>
        <% end %>
      </div>

      <div class="errors-tab errors-tab__ignored <%= 'errors-tab--active' if @dashboard.tab_active?(@dashboard.class::IGNORED_ERRORS_TAB) %>">
        <%= link_to errors_path(tab: @dashboard.class::IGNORED_ERRORS_TAB) do %>
          <div class="errors-tab__content">
            <div class="errors-tab__badge">
              <%= @dashboard.errors_count(@dashboard.class::IGNORED_ERRORS_TAB) || '-' %>
            </div>
            <div class="errors-tab__description">
              Ignored
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="column column-10 column-offset-10">
    <%= button_to 'Purge', purge_errors_path,
                  class: %w[button purge-button],
                  method: :delete,
                  data: { confirm: 'This will delete all stale errors, do you want to continue?' } %>
  </div>
</div>

<div class="errors__container">
  <div class="row error-row error-row--header">
    <div class="column column-10">Tags</div>
    <div class="column column-33">Message</div>
    <div class="column column-15">First Occurrence</div>
    <div class="column column-15">Last Occurrence</div>
    <div class="column column-8">Total</div>
    <div class="column column-18"></div>

  </div>

  <%= render partial: @dashboard.partial_for_tab, locals: { errors: @errors } %>
</div>
